<h1>Eat Da Burger!</h1>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{#each burgers}}
          {{#unless eaten}}
             <ul>
               {{burger_name}}
                <button type="submit" class="devourBtn" data-id="{{id}}" data-eaten="{{devoured}}">Devour!</button>
            </ul>  
          {{/unless}}
        {{/each}}
        </div>
         

      <div class="col-md-6">
        {{#each burgers}}
          {{#if eaten}}
            <div class="burgerEaten">
              <div>
                {{#if eaten}}
                <div data-id="{{id}}" data-eaten="{{devoured}}"></div>
                {{/if}}
                {{burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
</main>

<div class="container">
<h2>Add A Burger</h2>

<div class="row">
  <div class="col-md-12">
    <form>
      <input type="text" id="burger_name" name="burger_name" placeholder="Burger">
      <button type="submit" class="addBtn" id="addBurger">Add Burger</button>
    </form>
  </div>
</div>
</div>